<h1>Listing entries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <% present entry do |_entry| %>
        <tr>
          <td><%= entry.name %></td>

          <!-- orig scaffold <td><%= entry.phone %></td> -->
          <!-- one change w/o presenter
          <! <td><%= number_to_phone(entry.phone, area_code: true, delimiter: "-") %></td> -->

          <td><%= _entry.phone %></td>

          <td><%= link_to 'Show', entry %></td>
          <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
          <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
